@model WebApplication1.Models.coupon

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>coupon</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.couponcode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.couponcode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.discount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.discount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tilldate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tilldate)
        </dd>

    </dl>
</div>
<p>
    
    @Html.ActionLink("Back to List", "Index")
</p>
