@model IEnumerable<WebApplication1.Models.coupon>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.couponcode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.discount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tilldate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.couponcode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.discount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tilldate)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.couponid }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.couponid })
        </td>
    </tr>
}

</table>
